#services {
  padding: 6rem 2rem 6rem 2rem;
  h2,
  h5 {
    color: #fff;
  }
}
.services__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 60vh;
  gap: 3rem;
  justify-items: center;
  align-items: center;
}
.services {
  background: #bfbdbe;
  border-radius: 2rem;
  border: 1px solid #bfbdbe;
  height: fit-content;
  transition: var(--transition);
  color: #000000;
  path {
    color: #000000;
  }
  &:hover {
    background: #aaaaaa;
    cursor: default;
  }
}
.service__head {
  background: #0d0d0d;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0 2rem 1rem rgba($color: #000000, $alpha: 0.1);
  h3 {
    color: #fff;
    font-size: 1rem;
    text-align: center;
  }
}
.service__list {
  padding: 2rem;
  li {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.8rem;
  }
  &-icon {
    color: var(--color-primary);
    margin-top: 4px;
  }
  p {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 1024px) {
  #services {
    height: 150vh;
  }
  .services__container {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .services {
    height: auto;
  }
}
@media screen and (max-width: 600px) {
  .services__container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}
