#portfolio {
  h2,
  h5 {
    color: #000;
  }
  padding: 6rem 2rem 6rem 2rem;

  background: #bfbdbe;
}
.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}
.portfolio__item {
  background: #ebebeb;
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  .btn {
    background-color: #0d0d0d;
    color: #bfbdbe;
  }
  &:hover {
    border-color: #bfbdbe;
    background: #aeaeae;
  }
  &-img {
    border-radius: 1.5rem;
    overflow: hidden;
    height: 12rem;
    img {
      height: 12rem;
      object-fit: contain;
    }
  }
  h3 {
    margin: 2rem 0 1rem;
    color: #0d0d0d;
  }
  &-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.5rem;
  }
}
@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}
@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
