footer {
  background: var(--color-primary);
  padding: 3rem 0;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 7rem;
  a {
    color: #0d0d0d;
  }
}
.footer__logo {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  display: inline-block;
}
.permalinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}
.footer__socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 4rem;
  a {
    background-color: #0d0d0d;
    color: var(--color-white);
    padding: 0.8rem;
    border-radius: 0.7rem;
    border: 1px solid transparent;
    display: flex;
    &:hover {
      color: #0d0d0d;
      background: transparent;
      border-color: #0d0d0d;
    }
  }
}
.footer__copyrights {
  margin-bottom: 4rem;
  color: #0d0d0d;
}

@media screen and (max-width: 600px) {
  .permalinks {
    flex-direction: column;
    gap: 1.5rem;
  }
  .footer__socials {
    margin-bottom: 2.6rem;
  }
}
