@import url("https://fonts.googleapis.com/css2?family=Gantari:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-bg: #422fad;
  --color-bg-variant: #281499;
  --color-primary: #d8d4f1;
  --color-primary-variant: #5b65d5;
  --color-white: rgb(214, 213, 213);
  --color-light: rgba(255, 255, 255, 0.6);

  --transition: all 0.2s ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}
::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Gantari", sans-serif;
  background: #544f59;
  height: 100%;
  color: var(--color-white);
  line-height: 1.7;
}
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}
h1 {
  font-size: 2.5rem;
}

section > h2,
section > h5 {
  text-align: center;
  color: #adb2e3;
}

section > h2 {
  color: #c1c6fe;
  margin-bottom: 3rem;
}
.text-light {
  color: #0d0d0d;
}
a {
  color: #0d0d0d;
  transition: var(--transition);
}
a:hover {
  color: #fff;
}
.btn {
  width: max-content;
  display: inline-block;
  color: #0d0d0d;
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid #0d0d0d;
  transition: var(--transition);
}

.btn:hover {
  background-color: #9e9ca6;
  color: rgb(237, 237, 237);
  border-color: rgb(237, 237, 237);
}
.btn-primary {
  background: var(--color-primary);
  color: #0d0d0d;
}
.btn-primary:hover {
  background-color: #ededed;
  color: #0d0d0d;
}
img {
  display: block;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 6rem;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-md);
  }

  section > h2 {
    margin-bottom: 2rem;
  }
}
